<div class='w-full h-full flex flex-col '>
  <%= link_to 'Back', books_path%>
    <h1>Date</h1>
    <div>
        <% @ranks.each do |rank|%>
          <a href='<%= rank_path(rank)%>'> Date: <%= rank.date %> </a>
        <%end%>
    </div>
     <h1>Ranking</h1>
     <p>Please seclect ranking date</p>
</div>
